=form_for(@bug) do |form|
  .field
    =form.label :summary
    %br
    =form.text_area :summary
  .field
    =form.label :status
    %br
    -#=form.collection_select(:status_id, Status.all, :id , :status,{ :selected => @bug.status_id })
    =form.collection_select(:status, Status.all, :id , :name)
  .actions
    =form.submit