=form_for(@bug) do |form|
  .field
    =form.label :description
    %br
    =form.text_area :description
  .field
    =form.label :status
    %br
    =form.select(:status, Bug::STATUS)
  .actions
    =form.submit
%br
  =link_to 'Back', bugs_path