-if @bug.errors.any?
  #error_explanation
    %h2= pluralize(@bug.errors.count, "error")
    %ul
      -@bug.errors.full_messages.each do |msg|
        %li= msg


=form_for(@bug) do |form|
  .field
    =form.label :title
    %br
    =form.text_field :title
  .field
    =form.label :summary
    %br
    =form.text_area :summary
  .actions
    =form.submit
