-#-if @bug.errors.any?
-#  #error_explanation
-#    %h2= pluralize(@bug.errors.count, "error")
-#    %ul
-#      -@bug.errors.full_messages.each do |msg|
-#        %li= msg


=form_for(@bug) do |form|
  .field
    =form.label :summary
    %br
    =form.text_area :summary
  .field
    =form.label :status
    %br
    -#=form.collection_select(:status_id, Status.all, :id , :status,{ :selected => @bug.status_id })
    =form.collection_select(:status_id, Status.all, :id , :status)
  .actions
    =form.submit