=form_for(@bug) do |form|
  .field
    =form.label :summary
    %br
    =form.text_area :summary
  .field
    =form.label :status_id
    %br
    =form.collection_select(:status_id, Status.all, :id , :name)
  .actions
    =form.submit