=render :partial => 'layouts/header'

%h2 All Bugs

%table.bugs{:border=>1, :cellspacing=>0, :cellpadding=>4}
  %tr
    %th description
    %th Status
  -@bugs.each do |bug|
    %tr.bug
      %td.description= bug.description
      %td.status= bug.status
%br
=link_to 'New Bug', new_bug_path
