=render :partial => 'layouts/header'

%h2 All Bugs

%table.bugs{:border=>1, :cellspacing=>0, :cellpadding=>4}
  %tr
    %th Summary
    %th Status
  -@bugs.each do |bug|
    %tr.bug
      %td.summary= bug.summary
      %td.status= bug.status.name unless bug.status.nil?
%br
=link_to 'New Bug', new_bug_path
