%h1 All Bugs

%table{:border=>1, :cellspacing=>0, :cellpadding=>4}
  %tr
    %th Title
    %th Summary
  -@bugs.each do |bug|
    %tr.bug
      %td.title= bug.title
      %td.summary= bug.summary

%br
=link_to 'New Bug', new_bug_path
